<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enjoy.appstartup">

    <application
        android:name="com.lollo.myapplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppStartup">
        <activity
            android:name="com.lollo.myapplication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        创建并添加任务方式二:通过配置ContentProvider
        只需要配置整个任务图中的最后一个任务即可
        StartupInitializer将完成所有其他依赖任务的检索
        注意：如果有Task6只依赖Task1，则需要添加Task6的配置
        -->
        <provider
            android:name="com.lollo.myapplication.startup.provider.StartupProvider"
            android:authorities="${applicationId}.android_startup"
            android:exported="false">
            <meta-data
                android:name="com.lollo.myapplication.tasks.Task5"
                android:value="android.startup" />
        </provider>

    </application>

</manifest>